body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #6dd5fa, #ff758c);
  color: #333;
}

#Calculator {
  width: 100%;
  /* max-width: 700px; */
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

#header {
  background: linear-gradient(to bottom, #ffffff, #eeeeee);
  border-radius: 10px;
  padding: 20px;
}

.container {
  width: auto;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#InputForm[type="text"] {
  width: auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin: 5px;
  margin-left: 0px;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

#InputForm input {
  width: auto;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#InputForm input:focus {
  outline: none;
  border-color: #5e9ad6;
  box-shadow: 0 0 0 3px rgba(94, 154, 214, 0.3);
}

.modern-button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modern-button:hover {
  background-color: #0056b3;
}

.copy-button {
    padding: 12px 15px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    /* transition: background-color 0.3s; */
    transition: background-color 0.5s, color 0.5s;
}


.copy-button:hover {
    padding: 12px 15px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: #0056b3;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copy-button-copied {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #ffffff; 
}

